<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mvvm_vue</title>
  <script src="./js/mvvm.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/dep.js"></script>
  <script src="./js/watcher.js"></script>
  <script src="./js/compiler.js"></script>
</head>

<body>

  <div id="app">
    <br>
    <div>
      <span>用户：</span>
      <input type="text" v-model="username">
      <span>{{username}}</span>
    </div>
    <br>
    <div>
      <span>密码：</span>
      <input type="text" v-model="password">
      <span>{{password}}</span>
    </div>
    <br>
    <div>
      <span>姓名：</span>
      <input type="text" v-model="userInfo.name">
      <span>{{userInfo.name}}</span>
    </div>
    <br>
    <div>
      <span>年龄：</span>
      <input type="text" v-model="userInfo.age">
      <span>{{userInfo.age}}</span>
    </div>
    <br>
  </div>

  <script>
    let vm = new Mvvm({
      el: '#app',
      data: {
        username: 'admin',
        password: '123456',
        userInfo: {
          name: '张三',
          age: 18
        }
      }
    })
  </script>

</body>

</html>