<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mvvm_vue</title>
  <script src="./js/mvvm.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/dep.js"></script>
  <script src="./js/watcher.js"></script>
  <script src="./js/compiler.js"></script>
  <style>
    #app>div {
      margin: 10px 0;
    }
  </style>
</head>

<body>

  <div id="app">
    <div>
      <span>用户：</span>
      <input type="text" v-model="username">
      <span v-show="isShow">{{username}}</span>
    </div>
    <div>
      <span>密码：</span>
      <input type="text" v-model="password">
      <span v-show="isShow">{{password}}</span>
    </div>
    <div>
      <span>姓名：</span>
      <input type="text" v-model="userInfo.name">
      <span v-show="isShow">{{userInfo.name}}</span>
    </div>
    <div>
      <span>年龄：</span>
      <input type="text" v-model="userInfo.age">
      <span v-show="isShow">{{userInfo.age}}</span>
    </div>
    <button @click="btnClick">切换显示</button>
  </div>

  <script>
    let vm = new Mvvm({
      el: '#app',
      data: {
        username: 'admin',
        password: '123456',
        userInfo: {
          name: '张三',
          age: 18
        },
        isShow: true
      },
      methods: {
        btnClick() {
          this.isShow = !this.isShow
        }
      }
    })
  </script>

</body>

</html>